<!doctype html>
{% set prefilled = prefilled or {} %}
{% macro input(elem) %}
	<p class="form-input" id="form-{{ elem.id }}">

		{% if elem.params.type == 'radio' %}
		<span class="label">
			{{ elem.label }}:{% if elem.params.description %}
				<span class="description">{{ elem.params.description|safe }}</span>
			{% endif %}
		</span>
		{% for option in elem.params.radio %}
			{% with id = elem.id + '-' + option|idify %}
			<span class="form-radio">
				<input type="radio" id="{{ id }}" name="{{ elem.name }}" value="{{ option }}"
					{% if prefilled[elem.name] == option %}checked{% endif %}
				>
				<label for={{ id }}>{{ option }}</label>
			</span>
			{% endwith %}
		{% endfor %}
		<span class="form-radio-other">
		{% with id = elem.id + '-other' %}
		<input type="radio" id="{{ id }}" name="{{ elem.name }}" value="_other">
		<label for="{{ id }}">Other: </label>
		<input type="text" name="{{ elem.id + '-other' }}">
		{% endwith %}
		</span>
		{% else %}

		<label for="{{ elem.id }}">
			{{ elem.label }}:{% if elem.params.description %}
				<span class="description">{{ elem.params.description|safe }}</span>
			{% endif %}
		</label>
		{% if elem.params.type == 'textarea' %}
		<textarea
		{% else %}
		<input
		{%- endif %}
			{%- for key, value in elem.params.items() if value and key != 'description' %}
			{{ key + '=' + value }}
			{%- endfor %}
			{%- if prefilled[elem.name] %}
			value="{{ prefilled[elem.name] }}"
			{%- endif %}
			id="{{ elem.id }}"
			name="{{ elem.name }}"
		>{% if elem.params.type == 'textarea' %}</textarea>
		{% endif %}

		{% endif %}

	</p>
{%- endmacro %}
<html>
	<head>
		<meta charset="utf-8">
		<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
		<title>Coffee Break ☕ - Scorecard generator</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<h1><a href="{{ url_for('index') }}">Coffee Break ☕</a> The scorecard generator</h1>
		<main>
			<p>
				Check pre-filled values for reference:
			</p>
			<p>
				<a href="{{ url_for('prefilled', name='iidx_result') }}">IIDX</a>
				<a href="{{ url_for('prefilled', name='sdvx_result') }}">SDVX</a>
				<a href="{{ url_for('prefilled', name='scoresaber') }}">Score Saber</a>
				<a href="{{ url_for('prefilled', name='osu') }}">osu!</a>
			</p>
			<p>
				<a href="https://tina.moe/private/coffee-docs">API documentation</a>
			</p>

			<form id="gene-form" action="{{ url_for('generate_image') }}">
				{% for elem in inputs %}
				{{ input(elem) }}
				{% endfor %}
				<p>
					<input type="submit" value="Generate">
				</p>
			</form>
		</main>
	</body>
	<script>
		twemoji.parse(document.body);
	</script>
</html>
