<!doctype html>
{% set prefilled = prefilled or {} %}
{% macro input(name, description='', example='', value='', type='text', size=20) -%}
	{% with id = "form-" + name.lower()|replace('_', '-') %}
	<p class="form-input">
		<label for="{{ id }}">{{ name[0]|upper + name[1:]|replace('_', ' ') }}:{% if description %}<br>{{ description }}{% endif %}</label>
		<input
			type="{{ type }}"
			name="{{ name }}"
			id="{{ id }}"
			value="{{ value|e or prefilled[name] }}"
			size="{{ size }}"
		>
	</p>
	{% endwith %}
{%- endmacro %}
<html>
	<head>
		<meta charset="utf-8">
		<script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
		<title>Coffee Break ☕ - Scorecard generator</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>

	<body>
		<h1><a href="{{ url_for('index') }}">Coffee Break ☕</a> The scorecard generator</h1>
		<main>
			<p>
				Check pre-filled values for reference:
			</p>
			<p>
				<a href="{{ url_for('prefilled', name='iidx_result') }}">IIDX</a>
				<a href="{{ url_for('prefilled', name='sdvx_result') }}">SDVX</a>
				<a href="{{ url_for('prefilled', name='scoresaber') }}">Score Saber</a>
				<a href="{{ url_for('prefilled', name='osu') }}">osu!</a>
			</p>
			<p>
				Available endpoints:
			</p>
			<ul>
				<li><i class="code">/api/generate</i>: Returns the generated scorecard as a binary encoded image</li>
				<li><i class="code">/api/card.html</i>: Returns the generated image as an HTML page</li>
				<li><i class="code">/api/register</i>: Saves the scorecard request and returns a JSON object with its ID and URL</li>
			</ul>
			<p>
				All endpoints are reachable on GET and POST requests.
			</p>

			<form action="/api/generate">
				{% for name, description in inputs.items() %}
				{{ input(name=name, description=description) }}
				{% endfor %}
				<p>
					<input type="submit" value="Generate">
				</p>
			</form>
		</main>
	</body>
	<script>
		twemoji.parse(document.body);
	</script>
</html>
