@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

h1 {
	text-align: center;
}

main {
	max-width: 700px;
	background-color: #eee;
	margin: auto;
	padding: 1em;
}

.form-input {
	display: flex;
	flex-direction: column;
}
